# ignore all fits files everywhere - they are big
**/*.fits

**/*.h5
**/*.hdf5

**/*.pyc

archive/

spots_and_faculae_model/assets/**

# ignore files used as examples (to understand their structure etc)
example_files/**